html{font-size:26px; background: url(../img/bg.jpg) repeat-y;background-size:100% 100% ;}
html,body{margin: 0;}
//              header
ul{padding: 0;margin: 0;list-style: none;padding: 3% 0;}
.layui-nav{background:none;padding: 3%;}
.layui-nav .layui-nav-item{line-height: 0;}
.header{width: 100%;height: auto; padding: 3% 0;background: #007DDB;margin-bottom:10% ;}
.parking{font-size: 1rem;color: #fff;}
.close{font-size: 0.7rem;color: #fff;float: right;}
.close i{font-size: 1rem;margin-left:.2rem ;}


//              layui-container
.layui-container {height:20rem;background: #009F95;width: 100%;padding:3%;}
.zh{font-size:1.2rem;color: #fff;}
.zh i{font-size:1.2rem;color: #fff;}
.comm{display:block;margin: 5% auto;}
.input{text-align: center; display: flex;flex-wrap: nowrap;justify-content:space-around;}
.input input{width: 2rem;height: 2rem;margin: 10% 0;border: 0rem;font-size:2rem;text-align: center;}
.layui-btn{font-size:1rem;display:block;margin:0 auto;border:0.05rem solid #C9C9C9;height: auto;padding: 3% 13%;border-radius: 1rem;}

